header h1
{
    text-align: center; 
    color: blue; 
    text-decoration: underline;
}

head h1
{
    text-align: left; 
    color:black; 
    
}

body a
{
    color: black;
    text-decoration: none;
    line-height: 1.4em;
    margin: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}