header h1
{
    text-align: center; 
    color: blue; 
}

body
{
    text-align: center;
    color: black;
    line-height: 1.4em;
    margin: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #F7F3DE;
}